<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>information</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background: rgb(99, 39, 120)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
</head>

<body oncontextmenu='false' class='snippet-body' style="background-color: black;">
    <div class="sidebar">
        <a class="active" href="/">User</a>
        <a href="/news-user">News User</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="content">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <a class="button-back" href="/">Back</a>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <div style="
                        background: #456BD9;
                        border-radius: 50%;
                        height: 10em;
                        width: 10em;
                        background: url(/img/auth/<%=datauser.img%>);
                        background-position: center;
                        background-size: cover;
                        "
                    > </div>
                        <!-- setname and email-->
                        <span class="font-weight-bold"><%= datauser.Name + " " + datauser.SurName%></span><span
                        class="text-black-50"><%= datauser.Email%></span><span> </span></div>
                        <!-- endsetname -->
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <!-- setname to hear -->
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <!-- <input type="text" class="form-control" placeholder="first name" value="" name="Name"> -->
                            <p class="form-control"><%=datauser.Name%></p>
                        </div>
                                
                        <!-- surname -->
                        <div class="col-md-6"><label class="labels">Surname</label>
                            <!-- <input type="text"class="form-control" value="" placeholder="surname" name="Surname"> -->
                            <p class="form-control"><%=datauser.SurName%></p>
                        </div>
                                
                        <!-- end -->
                    </div>
                    <div class="row mt-3">
                        <!-- mobile -->
                        <div class="col-md-12"><label class="labels">Mobile Number</label>
                            <!-- <input type="text"class="form-control" placeholder="enter phone number" value="" name="MobileNumber"> -->
                            <p class="form-control"><%=datauser.MobileNumber%></p>
                        </div>
                                
                       
                                
                        <!-- adress -->
                        <div class="col-md-12"><label class="labels">Sex</label>
                            <!-- <input type="text"class="form-control" placeholder="enter address line 2" value=""> -->
                            <!-- <select class="form-control" name="Sex">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Othergenders">Other Genders</option>
                            </select>    -->
                            <p class="form-control"><%=datauser.Sex%></p>
                        </div>
                        <!-- adress -->
                        <div class="col-md-12"><label class="labels">Date Of Birth</label>
                            <!-- <input type="text"class="form-control" placeholder="enter address line 2" value=""> -->
                            <!-- <input type="date" class="form-control" name="birthday"> -->
                            <p class="form-control"><%= datauser.BirthDay.getMonth()+1%>/<%= datauser.BirthDay.getDay()+1%>/<%= datauser.BirthDay.getFullYear()%> </p>
                        </div>
                        <div class="col-md-12"><label class="labels">IdCard</label>
                            <!-- <input  type="text"class="form-control" placeholder="Enter Address" value="" name="Address"> -->
                            <p class="form-control"><%=datauser.IDcard%></p>
                        </div>        
                        <div class="col-md-12"><label class="labels">Address</label>
                            <!-- <input  type="text"class="form-control" placeholder="Enter Address" value="" name="Address"> -->
                            <p class="form-control"><%=datauser.Address%></p>
                        </div>
                                
                        <!-- <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value=""></div> -->
                        <div class="col-md-12"><label class="labels">Email</label>
                            <!-- <input type="email"class="form-control" placeholder="Enter Email" value="" name="Email"> -->
                            <p class="form-control"><%=datauser.Email%></p>
                        </div>
                                
                        <div class="col-md-12"><label class="labels">Job</label>
                            <!-- <input type="text" class="form-control" placeholder="Job" value="" name="Job"> -->
                            <p class="form-control"><%=datauser.Job%></p>   
                        </div>
                        <!-- end set content -->
                        <div class="col-md-12">
                            <label class="labels">Position</label>
                            <!-- <input type="text" class="form-control"placeholder="enter address line 2" value=""> -->
                            <!-- <select class="form-control" name="Position">
                                <option value="Patient">Patient</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Admin">Admin</option>
                            </select>  -->
                            <p class="form-control"><%=datauser.Position%></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!-- contry -->
                        <div class="col-md-6"><label class="labels">Country</label>
                            <!-- <input type="text"class="form-control" placeholder="country" value=""> -->
                            <p class="form-control"><%=datauser.Country%></p>
                        </div>
                                
                        <div class="col-md-6">
                            <label class="labels">State/Region</label>
                            <!-- <input type="text"class="form-control" value="" placeholder="state"> -->
                            <!-- <select class="form-control" name="State">
                                <option value="VietNam">VietNam</option>
                                <option value="USA">USA</option>
                                <option value="Russia">Russia</option>
                            </select>  -->
                            <p class="form-control"><%=datauser.State%></p>
                        </div>
                        <!-- end -->
                    </div>
                    <!-- save -->
                    <div class="mt-5 text-center">
                        <!-- <p class="btn btn-primary profile-button" type="text">Save
                            Profile</p> -->
                    </div>

                    </div>
            </div>
            <div class="col-md-4">
                <!-- experience -->
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-center align-items-center experience">
                        <span style="font-size: 20px;font-weight: bold;">Contact-Us</span>
                        <!-- <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span> -->
                    </div><br>
                            
                                
                    <div class="col-md-12">
                        <!-- <label class="labels">Experience in Designing</label>
                        <input type="text"class="form-control" placeholder="experience" value=""> -->
                        <img src="https://www.w3schools.com/w3images/map.jpg" style="width:100%">
                    </div> <br>
                            
                    <div class="col-md-12 d-flex justify-content-center" style="flex-direction: column;">
                        <label style="font-size: 20px;font-weight: bold;" class="labels">Best Quality</label>
                        <!-- <input type="text"class="form-control" placeholder="additional details" value=""> -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur, cupiditate sunt quas error eveniet accusamus quia id necessitatibus distinctio inventore dolores velit quibusdam eos rerum odio vitae, repellat minima!</p>
                    </div>
                            
                </div>
                <!-- end experience -->
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src=''></script>
    <script type='text/Javascript'></script>
</body>

</html>