<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/maicons.css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/maicons.css">
    <link href='/css/tabs.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>

<body>
    <!--  -->
    <div class="sidebar">
        <a href="/home/<%=userid.id%>"><i class="mai-home" style="color: white;"></i> Home</a>
        
        <!-- <a href="/admin/news-user/<%=userid.id%>"><i class="mai-add" style="color: white;"></i> News User</a>  -->
        <a  href="/admin/user/<%=userid.id%>"><i class="mai-navigate" style="color: white;"></i>
            New Patients</a>
            <a class="active" href="/admin/get-support/<%=userid.id%>"><i class="mai-shield" style="color: white;"></i>
                Support</a>
            
         <a href="/more/<%=userid.id%>/user/<%=userid.id%>"><i class="mai-people" style="color: white;"></i> Profile</a>
    </div>

    <div class="content">
        <div class="page-header">
            <h1>New Patients</h1>
        </div>
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">New Support</a></li>
                        <li><a href="#tab2default" data-toggle="tab"> <i class="mai-add"></i>Confirmed</a></li>
                        <li><a href="#tab3default" data-toggle="tab"> <i class="mai-add"></i>Cancelled</a></li>

                        <!-- <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">

                            <div class="w3-container">

                                <table class="w3-table-all w3-hoverable">
                                    <thead>
                                        <tr class="w3-light-grey">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% for(let i=0; i < support.length; i++) { 
                                            if(support[i].status == 1){
                                                
                                           %>
                                            
                                            <tr>
                                                <td>
                                                    <%= support[i].idsupport%> 
                                                </td>
                                                <td>
                                                    <%= support[i].name %>
                                                </td>
                                                <td>
                                                    <%= support[i].email %>
                                                </td>
    
    
                                                <td class="row-td">
                                                    <form action="">
                                                        <button type="button"data-toggle="modal" data-target="#myModal<%=i%>"> accept
                                                        </button>
                                                    </form>
    
    
                                                    <form action="/acp-support/<%=userid.id%>/<%=support[i].idsupport%>/3" method="post">
                                                        <button type="submit">
                                                           refuse
                                                        </button>
                                                    </form>
                                        

  <!-- Modal -->
                                        <div class="modal fade" id="myModal<%=i%>" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                            
                                            <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Support Information</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Name:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].name%>">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label for="email">Date:</label>
                                                                        <input type="text" class="form-control" id="email" value="<%=support[i].date%>">
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">PhoneNumber:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].phone%>">
                                                                
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Email:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].email%>">
                                                                <label for="email">Address:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].address%>">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message">Message:</label>
                                                           <textarea name="message" class="form-control" id="message" cols="50" rows="10"><%=support[i].message%></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer w-100 ">
                                                        
                                                        <form action="" style="float: right;">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                           </form>

                                                            <form action="/acp-support/<%=userid.id%>/<%=support[i].idsupport%>/2" method="post" style="float: right;">
                                                                <input type="text" value="<%=support[i].id%>" style="display: none;">
                                                                <button type="submit" class="btn btn-default">Accept</button>
                                                            </form>
                                                            
                                                       
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
  
                                                </td>
                            </tr>
                                        <% } }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table class="w3-table-all w3-hoverable">
                                <table class="w3-table-all w3-hoverable">
                                    <thead>
                                        <tr class="w3-light-grey">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% for(let i=0; i < support.length; i++) { 
                                            if(support[i].status == 2){
                                                
                                           %>
                                            
                                            <tr>
                                                <td>
                                                    <%= support[i].idsupport%> 
                                                </td>
                                                <td>
                                                    <%= support[i].name %>
                                                </td>
                                                <td>
                                                    <%= support[i].email %>
                                                </td>
    
    
                                                <td class="row-td">
                                                    <form action="">
                                                        <button type="button"data-toggle="modal" data-target="#myModal12<%=i%>"> details
                                                        </button>
                                                    </form>
    
    
                                                    
                                        

  <!-- Modal -->
                                        <div class="modal fade" id="myModal12<%=i%>" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                            
                                            <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Support Information</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Name:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].name%>">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label for="email">Date:</label>
                                                                        <input type="text" class="form-control" id="email" value="<%=support[i].date%>">
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">PhoneNumber:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].phone%>">
                                                                
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Email:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].email%>">
                                                                <label for="email">Address:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].address%>">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message">Message:</label>
                                                           <textarea name="message" class="form-control" id="message" cols="50" rows="10"><%=support[i].message%></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer w-100 ">
                                                        
                                                        <form action="" style="float: right;">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                           </form>

                                                            
                                                            
                                                       
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
  
                                                </td>
                            </tr>
                                        <% } }%>
                                    </tbody>
                                </table>
                                
                                
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                            <table class="w3-table-all w3-hoverable">
                                <table class="w3-table-all w3-hoverable">
                                    <thead>
                                        <tr class="w3-light-grey">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% for(let i=0; i < support.length; i++) { 
                                            if(support[i].status == 3){
                                                
                                           %>
                                            
                                            <tr>
                                                <td>
                                                    <%= support[i].idsupport%> 
                                                </td>
                                                <td>
                                                    <%= support[i].name %>
                                                </td>
                                                <td>
                                                    <%= support[i].email %>
                                                </td>
    
    
                                                <td class="row-td">
                                                    <form action="">
                                                        <button type="button"data-toggle="modal" data-target="#myModalsss<%=i%>"> details
                                                        </button>
                                                    </form>
    
    
                                                    
                                        

  <!-- Modal -->
                                        <div class="modal fade" id="myModalsss<%=i%>" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                            
                                            <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Support Information</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Name:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].name%>">
                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label for="email">Date:</label>
                                                                        <input type="text" class="form-control" id="email" value="<%=support[i].date%>">
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">PhoneNumber:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].phone%>">
                                                                
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label for="email">Email:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].email%>">
                                                                <label for="email">Address:</label>
                                                                <input type="text" class="form-control" id="email" value="<%=support[i].address%>">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message">Message:</label>
                                                           <textarea name="message" class="form-control" id="message" cols="50" rows="10"><%=support[i].message%></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer w-100 ">
                                                        
                                                        <form action="" style="float: right;">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                           </form>

                                                            
                                                            
                                                       
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
  
                                                </td>
                            </tr>
                                        <% } }%>
                                    </tbody>
                                </table>
                                
                                
                            </table>
                        </div>
                        <!-- <div class="tab-pane fade" id="tab5default">Default 5</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>